# Aula 13 - Tuplas

- imutável e ordenado
- ```t = ('20', 'segunda-feira', 'Março', 2023)```
- a tupla **não permite a adição ou remoção  de elementos**
- tem seus elementos **delimitados por parânteses** (a lista é delimitada por colchetes)
- a ordenação dos elementos será a ordem na qual estes foram definidos (não é possível ordenar em tempo de execução)
- primeiro elemento tem índice igual a zero
- o último elemento tem índice n-1
- os parênteses não definem uma tupla, são as vírgulas

## Formas de declarar tuplas:

In [1]:
# tupla declarada sem o uso de parênteses
t1 = 1, 2, 3

In [2]:
# tupla declarada com o uso de parênteses
t2 = (1, 2, 3)

In [3]:
# tupla com um único elemento
t3 = 1,

In [4]:
# tupla vazia
t4 = ()

## Operadores para Manipulação de Tuplas

### ```in```
- para retornar se um determinado elemento existe (pertence a ) uma tupla

In [5]:
5 in t1  # retornará True ou False

False

### Soma e Multiplicaçãoo de Tuplas

- efeito de concatenação

In [11]:
# soma
t = ('a', 'b') + ('c',)
print(t)
print(id(t))

('a', 'b', 'c')
139719182077248

In [12]:
t += (3,)
print(t)
print(id(t))   # criou um novo objeto

('a', 'b', 'c', 3)
139718567006592

In [9]:
# multiplicação
t = t * 3
print(t)

('a', 'b', 'c', 3, 'a', 'b', 'c', 3, 'a', 'b', 'c', 3)

### Encontrar a posição de um elemento
- método ```.index()```

In [16]:
print(t)
t.index(3)

('a', 'b', 'c', 3)

3

### Contagem de ocorrências de elementos
- método ```.count()```

In [17]:
print(t)
t.count('a')

('a', 'b', 'c', 3)

1

### Obtendo partes de tuplas
- como nas strings, usa-se indexação

In [18]:
t[1:2]

('b',)

In [19]:
t[:2]

('a', 'b')

In [20]:
t[2:]

('c', 3)

In [21]:
t[-2]

'c'

### Tamanho de uma tupla
- método ```.len()```

In [23]:
len(t)

4